.about-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.me-container{
    display: flex;
    flex-wrap: wrap;
}

.items{
display: flex;
justify-content: center;
gap: 200px;
}

.item{
    background-color: #00ED29;
    width: 100px;
    height: 100px;
    list-style: none;
    border-radius: 100px;
    position: relative;
}

.item p{
    position: absolute;
    bottom: -40px;
    left: 15px;
    color: aliceblue;
}

h2{
    padding: 50px;
    text-align: center;
    font-size: 58px;
    color: aliceblue;
}

.box-container{
    width: 40%;
    gap: 30px;
    padding: 30px;
    align-items: center;
    display: flex;
    margin-bottom: 100px;
    text-align: center;
    color: aliceblue;
}

.box-container img{
    border-radius: 300px;
    max-width: 300px;
}




.skill-container {
    display: flex;
     flex-wrap: wrap;
  }
  
  .skill{
      display: flex;
      flex-wrap: wrap;
      width: 800%;
      align-items: center;
      padding: 20px 0px 20px;
      justify-content: center;
  }

.skill img {
    max-width: 100px;
}

.progress {
    height: 35px;
    width: 60%;
    min-width: 50%;
    border: 1px solid;
    border-color: #00ED29;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}

.progress-bar {
    background: #00ED29;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
