<div class="about-container">
<h2>Sobre mí</h2>
<div class="soft-skills">
<ul class="items">
<li class="item"><p>Rápido</p>
</li>
<li class="item"><p>Resolutivo</p>
</li>
<li class="item"><p>Responsive</p>
</li>
</ul>
</div>

<div class="me-container">
<div class="box-container">
<img src="../../../assets/img/yo.jpg" alt="">
<h4>Mi nombre es Pablo Alarcón, hice multiples cursos Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vero fugiat iusto, itaque quaerat ducimus architecto veritatis sequi, asperiores cum reprehenderit qui ab culpa excepturi esse cupiditate doloremque ea obcaecati.</h4>
</div>
<div class="skill-container">
    <div class="hard">
        <div class="skill">
        <img src="../../../assets/img/HTML5_Logo.png" alt="">
        <div class="progress">
            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">75%</span>
            </div>
        </div>
    </div>
    <div class="skill">
        <img src="../../../assets/img/css3.png" alt="">
        <div class="progress">
            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">75%</span>
            </div>
        </div>
    </div>
        <div class="skill">
        <img src="../../../assets/img/angular.png" alt="">
        <div class="progress">
            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">75%</span>
            </div>
        </div>
    </div>
    <div class="skill">
        <img src="../../../assets/img/bootstrap_logo.png" alt="">
        <div class="progress">
            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">75%</span>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
