<div class="about-container">
    <h2>Sobre mí</h2>
    <div class="soft-skills">
        <ul class="items row">
            <li class="item col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <p>Rápido</p>
            </li>
            <li class="item col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <p>Resolutivo</p>
            </li>
            <li class="item col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <p>Responsive</p>
            </li>
        </ul>
    </div>

    <div class="me-container">
        <div class="box-container row col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <img class="img-fluid col-xs-12 col-sm-12 col-md-7 col-lg-7" src="../../../assets/img/yo.jpg" alt="">
            <div class="me-description col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <h4 class="me-description">Mi nombre es Pablo Alarcón, hice multiples cursos Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Soluta vero fugiat iusto, itaque quaerat ducimus architecto veritatis
                    sequi, asperiores cum reprehenderit qui ab culpa excepturi esse cupiditate doloremque ea obcaecati.
                </h4>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <button type="button" class="btn btn-success">Ver Curriculum</button>
                </a>
            </div>
        </div>
    </div>

</div>