<div class="slider">
    <ul>
        <li>
            <img src="../../../assets/img/JavaScript-logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/java logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/ruby-logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/RxJS_Logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/MySQL-Logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/spring-boot-logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/Git-logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/Firebase_Logo.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/clever-cloud-logo.png" alt="">
        </li>
    </ul>
</div>