<div class="skill-container">
<div class="hard">
    <h3>Hard Skills</h3>
    <div class="skill">
    <img src="../../../assets/img/HTML5_Logo.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:75%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
<div class="skill">
    <img src="../../../assets/img/css3.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:75%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
    <div class="skill">
    <img src="../../../assets/img/angular.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:75%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
<div class="skill">
    <img src="../../../assets/img/bootstrap_logo.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:75%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
</div>
<div class="soft">
<h3>Soft Skills</h3>
<div class="skill">
    <img src="../../../assets/img/angular.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:80%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
<div class="skill">
    <img src="../../../assets/img/angular.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:80%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
<div class="skill">
    <img src="../../../assets/img/angular.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:80%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
<div class="skill">
    <img src="../../../assets/img/angular.png" alt="">
    <div class="progress">
        <div class="progress-bar" style="width:75%;">
            <span class="progress-bar-text">75%</span>
        </div>
    </div>
</div>
</div>
<app-slider></app-slider>
</div>
