.works-container{
background-color: black;
overflow: hidden;
}

h2{
color: aliceblue;
padding: 100px 50px 50px;
text-align: center;
font-size: 58px;
}

.back-btn{
    height: 1100px;
    width: 800px;
    border-radius: 100%;
    background-color: #00ED29;
    overflow: hidden;
    position:relative;
    left: -650px;
    bottom: 900px;
}

.back-btn svg{
    left: 680px;
    bottom: 500px;
    position: absolute;
    color: aliceblue;
}

.back-btn:hover{
    transform: scale(1.15);
}


.works{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.work{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    gap: 20px;
    position: relative;
}

.work p{
 color: aliceblue;
}

.work button{
 background-color: #00ED29;
 padding: 10px;
}

button:hover{
    transform: scale(1.15);
}

.rectangle{
    background-color: #00ED29;
    width: 300px;
    height: 200px;
}

img{
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 100;
    top: -20px;
    left: -20px;
}

.next-btn{
    height: 1100px;
    width: 800px;
    border-radius: 100%;
    background-color: #00ED29;
    overflow: hidden;
    position:relative;
    right: -950px;
    bottom: 900px;
}

.next-btn svg{
    left: 30px;
    bottom: 500px;
    position: absolute;
    color: aliceblue;
}


@media screen and (max-width: 600px){
    .back-btn{
        display: none;
    }
}

