.works-container{
background-color: black;

}

h2{
color: aliceblue;
padding: 100px 50px 50px;
text-align: center;
font-size: 58px;
}


.back-btn{
    height: 1100px;
    width: 800px;
    border-radius: 100%;
    background-color: #00ED29;
    overflow: hidden;
    position:relative;
    left: -650px;
    bottom: 300px;
}

.back-btn svg{
    left: 680px;
    bottom: 500px;
    position: absolute;
    color: aliceblue;
}


.works{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}



