<div class="works-container">
  <h2>My Works</h2>




  <div class="works">
 
    <div class="work">
      <figure class="rectangle">
        <img src="../../../assets/img/tasklist.png" alt="">
      </figure>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis velit magni totam sed labore inventore atque
        iure dolorum voluptates necessitatibus reiciendis, nobis, amet aperiam soluta autem ratione ea? Quasi,
        voluptates.</p>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <button>Ver más</button>
      </a>
    </div>
    <div class="work">
      <figure class="rectangle">
        <img src="../../../assets/img/ayuda espiritual.png" alt="">
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eligendi minus ipsum maxime natus alias
        laudantium, at vel iure impedit et ea voluptatem doloribus quidem tempore nobis consectetur modi reiciendis!</p>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <button>Ver más</button>
      </a>
    </div>
    <div class="work">
      <figure class="rectangle">
        <img src="" alt="">
      </figure>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quaerat fugiat illo quidem veniam ipsam
        consectetur, dolores sapiente eius ut perferendis in eum reiciendis illum! Expedita magnam illum omnis cum?</p>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <button>Ver más</button>
      </a>
    </div>
  </div>

  <a href="https://www.youtube.com/watch?v=iaTfHfFbVbg">
    <button class="back-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
    </svg>
    </button>
    </a>
</div>