<nav class="navbar justify-content-end">
<ul class="nav nav-underline">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" style="color: aliceblue; font-size: x-large;" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: aliceblue; font-size: x-large;" href="#">About me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: aliceblue; font-size: x-large;" href="#">Works</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: aliceblue; font-size: x-large;" href="#">Contact</a>
  </li>
</ul>
</nav>


