.navbar{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: transparent !important;
    padding-right: 40px;
}

.nav{
    gap:100px;
}

.navbar-tog{
    display: none;
}

@media screen and (max-width: 600px){
    .navbar-main{
        display: none;
    }
    .navbar-tog{
        display: contents;
    }
}


