.contacto{
background-color: black;
}

.contact-container{
    padding: 50px 100px 50px;
    margin: 0px;
    position: relative;
}

.title-contact{
    text-align: center;
    padding: 0px;
    font-size: 58px;
    color: aliceblue;
}

h2{
    color: #00ED29;
    padding: 30px;
    font-size: 20px;
    position: relative;
}

h3{
    padding-bottom: 20px;
    color: aliceblue;
}

.formulario{
    background-color: #494F56;
    padding: 50px;
}

.formulario label{
    color: aliceblue;
}

.webs{
  padding: 50px;
  background-color: #00ED29;
}

.webs a{
    color: #494F56;
    margin: 20px;
}

.text-contact{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: #494F56;
}

li{
    display: flex;
    align-items: center;
    gap: 20px;
}

h5:hover{
    transform: scale(1.15);
}

svg:hover{
    transform: scale(1.15);
}

footer{
    color: #494F56;
    text-align: end;
    padding: 200px 20px 0px;
}

.back-btn{
    background-color: #00ED29;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -30px;
    bottom: 100px;
    color: aliceblue;
    position: relative;
}

.back-btn:hover{
    transform: scale(1.15);
}

